.typewriter h1 {
  position: absolute;
  top: 90%;
  left: 27%;
  font-size: 2vw;
  width: auto;
  font-family: monospace;
  align: center;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  color: yellow;
  letter-spacing: auto;
  animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
  /* animation-iteration-count:1; */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 18em;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: yellow;
  }
}
